## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

In [ ]:
# Creating a tuple
tup = ("I")

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [13]:
tup2 = set(tup)

In [14]:
tup2

{'I'}

In [15]:
tup = tuple(tup2)

In [17]:
tup

('I',)

In [18]:
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [19]:
list1=list(tup)

In [20]:
list1

['I']

In [24]:
type(list1)

list

In [23]:
list1.append("r")
list1.append("o")
list1.append("n")
list1.append("h")
list1.append("a")
list1.append("c")
list1.append("k")

In [25]:
list1

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

In [26]:
tup = tuple(list1)

In [27]:
tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

We can not assign a new element to a tuple because tuples are immutable, so for we do changes in a tuple we have to casting it to a list and after all changes we can cast it back to a tuple.

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [59]:
tup = list(list1)
list1

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

In [60]:
tup1 = list1[:4]
tup1

['I', 'r', 'o', 'n']

In [61]:
tup2 = list1[-4:]
tup2

['h', 'a', 'c', 'k']

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [62]:
tup3 = tup1 + tup2
tup3

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

In [63]:
tup3 == tup

True

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [66]:
len(tup1)

4

In [65]:
len(tup2)

4

In [67]:
len(tup3)

8

In [68]:
len(tup1)+len(tup2) == len(tup3)

True

#### What is the index number of `"h"` in `tup3`?

In [75]:
tup3

['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

In [76]:
tup3.index("h")

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [85]:
letters = ["a", "b", "c", "d", "e"] 

for i in letters:
    if i in tup3:
        print(True)
    else:
        print(False)

True
False
True
False
False

In [ ]:
# Your code here

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [87]:
letters = ["a", "b", "c", "d", "e"] 

tup3.count(letters)

print(f"The letter 'a' appears {tup3.count('a')} times in the tuple. ", 
      f"The letter 'b' appears {tup3.count('b')} times in the tuple. ",
      f"The letter 'c' appears {tup3.count('c')} times in the tuple. ",
      f"The letter 'd' appears {tup3.count('d')} times in the tuple. ",
      f"The letter 'e' appears {tup3.count('e')} times in the tuple. ")

The letter 'a' appears 1 times in the tuple.  The letter 'b' appears 0 times in the tuple.  The letter 'c' appears 1 times in the tuple.  The letter 'd' appears 0 times in the tuple.  The letter 'e' appears 0 times in the tuple.

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [88]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [94]:
sample_list_1 = random.sample(range(0,100), k=80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [95]:
set1 =set(sample_list_1)
set1

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 19,
 20,
 21,
 22,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 57,
 58,
 59,
 61,
 62,
 64,
 65,
 66,
 67,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 80,
 82,
 83,
 85,
 86,
 87,
 89,
 90,
 91,
 92,
 93,
 95,
 96,
 97,
 99}

In [96]:
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [116]:
sample_list_2 = []
for numbers in range(0,80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[80, 53, 75, 66, 62, 76, 43, 39, 66, 66, 20, 14, 39, 99, 64, 58, 30, 100, 60, 5, 68, 41, 81, 10, 12, 35, 12, 1, 19, 43, 30, 15, 70, 99, 89, 93, 45, 33, 73, 97, 2, 67, 4, 65, 70, 36, 78, 24, 13, 20, 1, 43, 42, 45, 98, 91, 100, 75, 65, 18, 58, 0, 48, 36, 25, 77, 19, 55, 20, 89, 89, 72, 2, 44, 64, 3, 63, 95, 56, 1]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [118]:
set2 = set(sample_list_2)
len(set2)

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [120]:
set3 = set1.difference(set2)
set3

{6,
 7,
 8,
 9,
 11,
 17,
 21,
 22,
 26,
 27,
 28,
 29,
 32,
 34,
 37,
 38,
 46,
 47,
 49,
 50,
 51,
 54,
 57,
 59,
 61,
 71,
 74,
 82,
 83,
 85,
 86,
 87,
 90,
 92,
 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [121]:
set4=set2.difference(set1)
set4

{0, 18, 24, 56, 60, 63, 68, 78, 81, 98, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [124]:
set5 = set1 & set2
set5

{1,
 2,
 3,
 4,
 5,
 10,
 12,
 13,
 14,
 15,
 19,
 20,
 25,
 30,
 33,
 35,
 36,
 39,
 41,
 42,
 43,
 44,
 45,
 48,
 53,
 55,
 58,
 62,
 64,
 65,
 66,
 67,
 70,
 72,
 73,
 75,
 76,
 77,
 80,
 89,
 91,
 93,
 95,
 97,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [125]:
len(set1)

80

In [126]:
len(set2)

56

In [127]:
len(set3)

35

In [128]:
len(set4)

11

In [129]:
len(set5)

45

In [130]:
print(len(set1)>len(set2)>len(set5)>len(set3)>len(set4))

True

In [ ]:
len(set2) == len(set5) + len(set4)

True

In [133]:
len(set1) == len(set5) + len(set3)

True

In [135]:
len(set4) == len(set2) - len(set5)

True

In [136]:
len(set3) == len(set1) - len(set5)

True

In [137]:
len(set5) == len(set1) - len(set3)

True

#### Create an empty set called `set6`.

In [149]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [150]:
set6.update(set3,set5)
set6

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 19,
 20,
 21,
 22,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 57,
 58,
 59,
 61,
 62,
 64,
 65,
 66,
 67,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 80,
 82,
 83,
 85,
 86,
 87,
 89,
 90,
 91,
 92,
 93,
 95,
 96,
 97,
 99}

#### Check if `set1` and `set6` are equal.

In [151]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [154]:
set1.issubset(set2)

False

In [155]:
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [156]:
set7 = set3.union(set4,set5)
set7

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 85,
 86,
 87,
 89,
 90,
 91,
 92,
 93,
 95,
 96,
 97,
 98,
 99,
 100}

In [157]:
set7 = set1.union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [160]:
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [171]:

list_to_remove = [1,9,11,19,21,29,31,39,41,49,51,59,61,69,71,79,81,89,91,99]

for number in list_to_remove:
    set1.discard(number)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 20, 22, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 62, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 85, 86, 87, 90, 92, 93, 95, 96, 97}

## BONUS - Challenge 3: Dictionaries

In this challenge you will practice how to manipulate Python dictionaries. Before starting on this challenge, you are encouraged to review W3School's [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp).

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in *sort* method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song *Shape of You*. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [228]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

#### Sort the keys of `word_freq` ascendingly.

Please create a new dictionary called `word_freq2` based on `word_freq` with the keys sorted ascedingly.

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

ðŸ“– [Documentation for a for loop](https://docs.python.org/3/reference/compound_stmts.html#for)

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [229]:
keys = word_freq.keys()
list_keys=list(keys)
list_keys

['love',
 'conversation',
 'every',
 "we're",
 'plate',
 'sour',
 'jukebox',
 'now',
 'taxi',
 'fast',
 'bag',
 'man',
 'push',
 'baby',
 'going',
 'you',
 "don't",
 'one',
 'mind',
 'backseat',
 'friends',
 'then',
 'know',
 'take',
 'play',
 'okay',
 'so',
 'begin',
 'start',
 'over',
 'body',
 'boy',
 'just',
 'we',
 'are',
 'girl',
 'tell',
 'singing',
 'drinking',
 'put',
 'our',
 'where',
 "i'll",
 'all',
 "isn't",
 'make',
 'lover',
 'get',
 'radio',
 'give',
 "i'm",
 'like',
 'can',
 'doing',
 'with',
 'club',
 'come',
 'it',
 'somebody',
 'handmade',
 'out',
 'new',
 'room',
 'chance',
 'follow',
 'in',
 'may',
 'brand',
 'that',
 'magnet',
 'up',
 'first',
 'and',
 'pull',
 'of',
 'table',
 'much',
 'last',
 'i',
 'thrifty',
 'grab',
 'was',
 'driver',
 'slow',
 'dance',
 'the',
 'say',
 'trust',
 'family',
 'week',
 'date',
 'me',
 'do',
 'waist',
 'smell',
 'day',
 'although',
 'your',
 'leave',
 'want',
 "let's",
 'lead',
 'at',
 'hand',
 'how',
 'talk',
 'not',
 'eat',
 'falling',
 'about',
 'story',
 'sweet',
 'best',
 'crazy',
 'let',
 'too',
 'van',
 'shots',
 'go',
 'to',
 'a',
 'my',
 'is',
 'place',
 'find',
 'shape',
 'on',
 'kiss',
 'were',
 'night',
 'heart',
 'for',
 'discovering',
 'something',
 'be',
 'bedsheets',
 'fill',
 'hours',
 'stop',
 'bar']

In [230]:
list_keys.sort()
list_keys

['a',
 'about',
 'all',
 'although',
 'and',
 'are',
 'at',
 'baby',
 'backseat',
 'bag',
 'bar',
 'be',
 'bedsheets',
 'begin',
 'best',
 'body',
 'boy',
 'brand',
 'can',
 'chance',
 'club',
 'come',
 'conversation',
 'crazy',
 'dance',
 'date',
 'day',
 'discovering',
 'do',
 'doing',
 "don't",
 'drinking',
 'driver',
 'eat',
 'every',
 'falling',
 'family',
 'fast',
 'fill',
 'find',
 'first',
 'follow',
 'for',
 'friends',
 'get',
 'girl',
 'give',
 'go',
 'going',
 'grab',
 'hand',
 'handmade',
 'heart',
 'hours',
 'how',
 'i',
 "i'll",
 "i'm",
 'in',
 'is',
 "isn't",
 'it',
 'jukebox',
 'just',
 'kiss',
 'know',
 'last',
 'lead',
 'leave',
 'let',
 "let's",
 'like',
 'love',
 'lover',
 'magnet',
 'make',
 'man',
 'may',
 'me',
 'mind',
 'much',
 'my',
 'new',
 'night',
 'not',
 'now',
 'of',
 'okay',
 'on',
 'one',
 'our',
 'out',
 'over',
 'place',
 'plate',
 'play',
 'pull',
 'push',
 'put',
 'radio',
 'room',
 'say',
 'shape',
 'shots',
 'singing',
 'slow',
 'smell',
 'so',
 'somebody',
 'something',
 'sour',
 'start',
 'stop',
 'story',
 'sweet',
 'table',
 'take',
 'talk',
 'taxi',
 'tell',
 'that',
 'the',
 'then',
 'thrifty',
 'to',
 'too',
 'trust',
 'up',
 'van',
 'waist',
 'want',
 'was',
 'we',
 "we're",
 'week',
 'were',
 'where',
 'with',
 'you',
 'your']

In [231]:
sort_keys = list_keys
sort_keys

['a',
 'about',
 'all',
 'although',
 'and',
 'are',
 'at',
 'baby',
 'backseat',
 'bag',
 'bar',
 'be',
 'bedsheets',
 'begin',
 'best',
 'body',
 'boy',
 'brand',
 'can',
 'chance',
 'club',
 'come',
 'conversation',
 'crazy',
 'dance',
 'date',
 'day',
 'discovering',
 'do',
 'doing',
 "don't",
 'drinking',
 'driver',
 'eat',
 'every',
 'falling',
 'family',
 'fast',
 'fill',
 'find',
 'first',
 'follow',
 'for',
 'friends',
 'get',
 'girl',
 'give',
 'go',
 'going',
 'grab',
 'hand',
 'handmade',
 'heart',
 'hours',
 'how',
 'i',
 "i'll",
 "i'm",
 'in',
 'is',
 "isn't",
 'it',
 'jukebox',
 'just',
 'kiss',
 'know',
 'last',
 'lead',
 'leave',
 'let',
 "let's",
 'like',
 'love',
 'lover',
 'magnet',
 'make',
 'man',
 'may',
 'me',
 'mind',
 'much',
 'my',
 'new',
 'night',
 'not',
 'now',
 'of',
 'okay',
 'on',
 'one',
 'our',
 'out',
 'over',
 'place',
 'plate',
 'play',
 'pull',
 'push',
 'put',
 'radio',
 'room',
 'say',
 'shape',
 'shots',
 'singing',
 'slow',
 'smell',
 'so',
 'somebody',
 'something',
 'sour',
 'start',
 'stop',
 'story',
 'sweet',
 'table',
 'take',
 'talk',
 'taxi',
 'tell',
 'that',
 'the',
 'then',
 'thrifty',
 'to',
 'too',
 'trust',
 'up',
 'van',
 'waist',
 'want',
 'was',
 'we',
 "we're",
 'week',
 'were',
 'where',
 'with',
 'you',
 'your']

In [232]:
word_freq2 = {}
word_freq2

{}

In [236]:

for key in sort_keys:
    value = word_freq.get(key)
    if value is not None:
        word_freq2[key] = value

for key in sort_keys:
    if key in word_freq2:
        print(key, word_freq2[key])
print(word_freq2)

a 8
about 1
all 1
although 3
and 23
are 1
at 1
baby 14
backseat 1
bag 1
bar 1
be 16
bedsheets 3
begin 1
best 1
body 17
boy 2
brand 6
can 1
chance 1
club 1
come 37
conversation 1
crazy 2
dance 1
date 1
day 6
discovering 6
do 3
doing 2
don't 2
drinking 1
driver 1
eat 1
every 6
falling 3
family 1
fast 1
fill 2
find 1
first 1
follow 6
for 3
friends 1
get 1
girl 2
give 1
go 2
going 1
grab 2
hand 1
handmade 2
heart 3
hours 2
how 1
i 6
i'll 1
i'm 23
in 27
is 5
isn't 1
it 1
jukebox 1
just 1
kiss 1
know 2
last 3
lead 6
leave 1
let 1
let's 2
like 10
love 25
lover 1
magnet 3
make 1
man 1
may 2
me 10
mind 2
much 2
my 33
new 6
night 3
not 2
now 11
of 6
okay 1
on 40
one 1
our 1
out 1
over 1
place 1
plate 1
play 1
pull 3
push 3
put 3
radio 1
room 3
say 2
shape 6
shots 1
singing 2
slow 1
smell 3
so 2
somebody 2
something 6
sour 1
start 2
stop 1
story 1
sweet 1
table 1
take 1
talk 4
taxi 1
tell 1
that 2
the 18
then 3
thrifty 1
to 2
too 5
trust 1
up 3
van 1
waist 2
want 2
was 2
we 7
we're 1
week 1
were 3
where 1
with 22
you 16
your 21
OrderedDict({'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21})

#### Sort the values of `word_freq` ascendingly.

Sorting the values of a dictionary is more tricky than sorting the keys because a dictionary's values are not unique. Therefore you cannot use the same way you sorted dict keys to sort dict values.

The way to sort a dict by value is to utilize the `sorted` and `operator.itemgetter` functions. The following code snippet is provided to you to try. It will give you a list of tuples in which each tuple contains the key and value of a dict item. And the list is sorted based on the dict value ( [reference](http://thomas-cokelaer.info/blog/2017/12/how-to-sort-a-dictionary-by-values-in-python/)
).

```python
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
print(sorted_tups)
```

Therefore, the steps to sort `word_freq` by value are:

* Using `sorted` and `operator.itemgetter`, obtain a list of tuples of the dict key-value pairs which is sorted on the value.

* Create an empty dictionary named `word_freq2`.

* Iterate the list of tuples. Insert each key-value pair into `word_freq2` as an object.

Print `word_freq2` to confirm your dictionary has its values sorted. Your output should be:

```python
{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}
```

In [241]:
import operator
sorted_tups = sorted(word_freq.items(), key = operator.itemgetter(1))
print(sorted_tups)

[('conversation', 1), ("we're", 1), ('plate', 1), ('sour', 1), ('jukebox', 1), ('taxi', 1), ('fast', 1), ('bag', 1), ('man', 1), ('going', 1), ('one', 1), ('backseat', 1), ('friends', 1), ('take', 1), ('play', 1), ('okay', 1), ('begin', 1), ('over', 1), ('just', 1), ('are', 1), ('tell', 1), ('drinking', 1), ('our', 1), ('where', 1), ("i'll", 1), ('all', 1), ("isn't", 1), ('make', 1), ('lover', 1), ('get', 1), ('radio', 1), ('give', 1), ('can', 1), ('club', 1), ('it', 1), ('out', 1), ('chance', 1), ('first', 1), ('table', 1), ('thrifty', 1), ('driver', 1), ('slow', 1), ('dance', 1), ('trust', 1), ('family', 1), ('week', 1), ('date', 1), ('leave', 1), ('at', 1), ('hand', 1), ('how', 1), ('eat', 1), ('about', 1), ('story', 1), ('sweet', 1), ('best', 1), ('let', 1), ('van', 1), ('shots', 1), ('place', 1), ('find', 1), ('kiss', 1), ('stop', 1), ('bar', 1), ("don't", 2), ('mind', 2), ('know', 2), ('so', 2), ('start', 2), ('boy', 2), ('girl', 2), ('singing', 2), ('doing', 2), ('somebody', 2), ('handmade', 2), ('may', 2), ('that', 2), ('much', 2), ('grab', 2), ('was', 2), ('say', 2), ('waist', 2), ('want', 2), ("let's", 2), ('not', 2), ('crazy', 2), ('go', 2), ('to', 2), ('fill', 2), ('hours', 2), ('push', 3), ('then', 3), ('put', 3), ('room', 3), ('magnet', 3), ('up', 3), ('pull', 3), ('last', 3), ('do', 3), ('smell', 3), ('although', 3), ('falling', 3), ('were', 3), ('night', 3), ('heart', 3), ('for', 3), ('bedsheets', 3), ('talk', 4), ('too', 5), ('is', 5), ('every', 6), ('new', 6), ('follow', 6), ('brand', 6), ('of', 6), ('i', 6), ('day', 6), ('lead', 6), ('shape', 6), ('discovering', 6), ('something', 6), ('we', 7), ('a', 8), ('like', 10), ('me', 10), ('now', 11), ('baby', 14), ('you', 16), ('be', 16), ('body', 17), ('the', 18), ('your', 21), ('with', 22), ("i'm", 23), ('and', 23), ('love', 25), ('in', 27), ('my', 33), ('come', 37), ('on', 40)]

In [242]:
word_freq2 = {}
word_freq2

{}

In [244]:
word_freq2 = dict(sorted_tups)
word_freq2

{'conversation': 1,
 "we're": 1,
 'plate': 1,
 'sour': 1,
 'jukebox': 1,
 'taxi': 1,
 'fast': 1,
 'bag': 1,
 'man': 1,
 'going': 1,
 'one': 1,
 'backseat': 1,
 'friends': 1,
 'take': 1,
 'play': 1,
 'okay': 1,
 'begin': 1,
 'over': 1,
 'just': 1,
 'are': 1,
 'tell': 1,
 'drinking': 1,
 'our': 1,
 'where': 1,
 "i'll": 1,
 'all': 1,
 "isn't": 1,
 'make': 1,
 'lover': 1,
 'get': 1,
 'radio': 1,
 'give': 1,
 'can': 1,
 'club': 1,
 'it': 1,
 'out': 1,
 'chance': 1,
 'first': 1,
 'table': 1,
 'thrifty': 1,
 'driver': 1,
 'slow': 1,
 'dance': 1,
 'trust': 1,
 'family': 1,
 'week': 1,
 'date': 1,
 'leave': 1,
 'at': 1,
 'hand': 1,
 'how': 1,
 'eat': 1,
 'about': 1,
 'story': 1,
 'sweet': 1,
 'best': 1,
 'let': 1,
 'van': 1,
 'shots': 1,
 'place': 1,
 'find': 1,
 'kiss': 1,
 'stop': 1,
 'bar': 1,
 "don't": 2,
 'mind': 2,
 'know': 2,
 'so': 2,
 'start': 2,
 'boy': 2,
 'girl': 2,
 'singing': 2,
 'doing': 2,
 'somebody': 2,
 'handmade': 2,
 'may': 2,
 'that': 2,
 'much': 2,
 'grab': 2,
 'was': 2,
 'say': 2,
 'waist': 2,
 'want': 2,
 "let's": 2,
 'not': 2,
 'crazy': 2,
 'go': 2,
 'to': 2,
 'fill': 2,
 'hours': 2,
 'push': 3,
 'then': 3,
 'put': 3,
 'room': 3,
 'magnet': 3,
 'up': 3,
 'pull': 3,
 'last': 3,
 'do': 3,
 'smell': 3,
 'although': 3,
 'falling': 3,
 'were': 3,
 'night': 3,
 'heart': 3,
 'for': 3,
 'bedsheets': 3,
 'talk': 4,
 'too': 5,
 'is': 5,
 'every': 6,
 'new': 6,
 'follow': 6,
 'brand': 6,
 'of': 6,
 'i': 6,
 'day': 6,
 'lead': 6,
 'shape': 6,
 'discovering': 6,
 'something': 6,
 'we': 7,
 'a': 8,
 'like': 10,
 'me': 10,
 'now': 11,
 'baby': 14,
 'you': 16,
 'be': 16,
 'body': 17,
 'the': 18,
 'your': 21,
 'with': 22,
 "i'm": 23,
 'and': 23,
 'love': 25,
 'in': 27,
 'my': 33,
 'come': 37,
 'on': 40}